body {
  font: 10px sans-serif;
}

.connectionPanel{
  font-size: 18px;
}

.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.x.axis path {
  display: none;
}

.line {
  fill: none;
  stroke: black;
  stroke-width: 3px;
}
.line.actual{
  stroke: black;
}
.line.suggest{
  stroke: steelblue;
}

.line.bidask{
  stroke: green;
}

.line.askbid{
  stroke: red;
}

.area {
  opacity: .4;
}
.area.bid{
  fill: green;
}
.area.ask{
  fill: red;
}


#connection {
  color: red;
}

#connection.connected {
  color: lightgreen;
}
